html {
    font-family: Georgia, Verdana, sans-serif;
    font-size: medium;
}

body {
    margin: 0;
    background: linear-gradient(white 45%, #e7e6e0 40%, #03878f);
    color: #113245;
}

main section img {
    width: 70px;
    height: 70px;
    background: ellipse(white)
}
#handpicking {
    width: 50vw;
    height: auto;
}


