html {
    font-family: Georgia, sans-serif;
    font-size: 24px;
    font-weight: 500px;
}

body {
    width: 100vw;
    height: 300vh;
    margin: 0;
    color: yellow;
    box-sizing: border-box;

}

header {
    width: 100%;
    height: 5%;
    background: white;
    text-transform: uppercase;
}

main {
    width: 100%;
    height: 95%;
    background: white;
    align-items: center;
    
}

footer {
    width: 100vw;
    height: 5%;
    background: olive;
    text-align: center;
    
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


#logo{
    width: 140px;
    height: 140px;
    align-items: left;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: right;
}

li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0 20px;
}


#landing {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: white;
}

#landing section {
    
    box-sizing: content-box;
    padding: 10vh;
    flex-wrap: wrap;
}

#mainimg {
    width: 25vw;
    height: 45vh;
}

form {
    border: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.register {
    border: 25px;
    flex-wrap: wrap;
}

#signup, #donate, #username, #password, #login {
    font-size: 24px;
    width: 450px;
    height: 75px;
    border-radius: 10px;
    margin: 5px;
}


#about {
    width: 100%;
    height: 36%;
    background: skyblue;
    text-align: center;
}

#market {
    background: slateblue;
    
}

#contact {
    width: 100%;
    height: 36%;
    background: grey;
}



