html {
    font-family: Georgia, Verdana, sans-serif;
    font-size: medium;
}

body {
    margin: 0;
    background: linear-gradient(white 45%, #e7e6e0 40%, #03878f);
    color: #113245;
}

#handpicking {
    width: 100vw;
    height: 100vh;
}


