html {
    font-family: Georgia, sans-serif;
}

body {
    margin: 0;
    height: 200vh;
    font-size: 16px;
    background: blue;
    text-align: center;
    box-sizing: border-box;
}

header {
    height: 4%;
    background: blueviolet;
   
}

main {
    height: 92%;
    background: red
}

footer {
    height: 4%;
    background: orange;
}

img {
    width: 15%;
}

iframe {
    width: 200px;

}
