html {
    font-family: Georgia, sans-serif;
    font-size: medium;
}

body {
    margin: 0;
    font-size: 24px;
    background: blue;
}

header {
    height: 20%;
    background: blueviolet;
   
}

main {
    height: 60%;
    background: red
}

footer {
    height: 20%;
    background: orange;
}

img {
    width: 10%;
}