html {
    font-family: Georgia, sans-serif;
    font-size: medium;
    font-weight: 500px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 35px;
    box-sizing: border-box;
    overflow: none;

}

main {
    width: 100vw;
    height: 70vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    
}

main section {
    padding: 25px;
}

img {
    width: 800px;
    padding-bottom: 45px;
}

input, select, button {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#birthday {
    width: 450px; 
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}