html, body {
    margin: 0;
    max-width: 480vw;
    height: 680vh;
}

img {
    width: 25%;
}

header {
    width: 100%;
    height: 3%;
    background: pink;
    display: flex;
}

header section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav {
    visibility: hidden;
}

header section section:hover + nav {
    display: block;
    font-size: 20px;
}

main {
    width: 100%;
    height: 94%;
    background: green;
}

footer {
    width: 100%;
    height: 3%;
    background: paleturquoise;
}