html {
    font-family: Georgia, sans-serif;
    font-size: medium;
    font-weight: 500px;
}

body {
    margin: 0;
    background: linear-gradient(white 45%, #e7e6e0 40%, #03878f);
    color: #113245;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: yellow;
    font-size: 12px;
    box-sizing: border-box;

}

header {
    width: 100vw;
    height: 20vh;
    background: green;
    text-transform: uppercase;
    order: 1
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


#logo{
    width: 140px;
    height: 140px;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem ;
    align-items: right;
}

li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0 20px;
}


main {
    width: 100vw;
    height: 75vh;
    background: pink;
    align-items: center;
    order: 2
}


.landing {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.landing section {
    box-sizing: content-box;
    padding: 10vh;
    flex-wrap: wrap;
}

form {
    border: 25px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.register {
    border: 25px;
    flex-wrap: wrap;
}

#signup, #donate, #username, #password, #login {
    font-size: 24px;
    width: 450px;
    height: 75px;
    border-radius: 10px;
}


.about {
    width: 100vw;
    background: skyblue
}

#market {
    background: slateblue
}

.contact {
    width: 100vw;
    background: grey;
}

footer {
    width: 100vw;
    height: 10vh;
    background: olive;
    order: 3;
}

