html {
    font-family: Georgia, Verdana, sans-serif;
    font-size: large;
}

body {
    margin: 0;
    background: linear-gradient(white 45%, #e7e6e0 40%, #03878f);
    color: #113245;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header {
    width: 100vw;
    height: 20vh;
    background: green;
    
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem ;
}



 li {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    float: right;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0 20px;

}


main {
    width: 100vw;
    height: 70vh;
    background: pink;
}

footer {
    width: 100vw;
    height: 10vh;
    background: olive;
}